:root {
    --main-bgcolor: #FFFFFF;
}
:root  {
    --bgcolor: #2F303A;
}
:root {
    --hcolor: #212121;
}
:root {
    --pcolor: #757575;
}
:root {
    --blue: #2196F3;
}
body {
    background-color: var(--main-bgcolor);
    color: var(--pcolor);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.link,
.site-nav__link
 {
    text-decoration: none;
}
.phone {
    color: var(--pcolor);
}
.promo, .foot {
    background-color: var(--bgcolor);
    
}
.promo-name,
.promo-button,
.card-name {
    letter-spacing: 0.06em;
}

.promo-name {
   
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        
        text-transform: uppercase;
        color: #FFFFFF;
 
}
.promo-button {
    color: var(--main-bgcolor);
        background-color: var(--blue);
        font-family: inherit;
        font-weight: 700;
        line-height: 1.88;
    
}
.promo-button:hover,
.promo-button:focus
{
    background-color: #188CE8;
}

ul {
    list-style: none; 
}
.site-nav__link {
color: rgb(255, 255, 255);

}
.logo-head {
    color: #000000;
}
.logo-foot {
    color: #ffffff;
}
.logo-foot,
.logo-head {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

}
.blue-logo {
    color: var(--blue);
}


.site-nav a:hover,
.foot a:hover,
.site-nav a:focus,
.foot a:focus
{
color: var(--blue);
}
.site-nav__link,
.phone {
    font-weight: 500;
    letter-spacing: 0.02em;
}
.site-nav__link, 
.title,
.our-team,
.card-name {
    color: var(--hcolor);
    font-size: 14px;
    
}
.title,
.card-name {
    font-weight: 700;
}
.card-name {
    font-size: 18px;
}
.button,
.description,
.promo-button
{
    font-size: 16px;
}
.subtitle {
    font-size: 36px;
}
.button {
    color: var(--hcolor);
    background-color: #f5f4fa;
    font-weight: 500;
}
.button:hover,
.button:focus {
    color: var(--bgcolor);
    background-color: var(--blue);
    
}
.button, .promo-button {
    cursor: pointer;
} 


.foot-contact {
    color: rgba(255, 255, 255, 0.6);
}
.address {
    color:rgb(255, 255, 255);
}