:root {
    --primary-font: Roboto, sans-serif;
    
    --secondary-font: "raleway", sans-serif;

    --main-bgcolor: #FFFFFF;

    --bgcolor: #2F303A;

    --hcolor: #212121;

    --pcolor: #757575;

    --blue: #2196F3;

    --ourbgcolor: #F5F4FA;

  
}
body {
    background-color: var(--main-bgcolor);
    color: var(--pcolor);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.link,
.site-nav__link,
.head-contact
 {
    text-decoration: none;
}
.head-contact {
    color: var(--pcolor);
}
.promo, .foot {
    background-color: var(--bgcolor);
    
}
.promo-name,
.promo-button,
.card-name {
    letter-spacing: 0.06em;
}
.card-name {
    line-height: 2;
}

.promo-name {
   
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        
        text-transform: uppercase;
        color: #FFFFFF;
 
}
.promo-button {
    color: var(--main-bgcolor);
        background-color: var(--blue);
        font-family: inherit;
        font-weight: 700;
        line-height: 1.88;
    
}
.promo-button:hover,
.promo-button:focus
{
    background-color: #188CE8;
}

.list {
    list-style: none; 
}
.site-nav__link {
color: rgb(255, 255, 255);

}
.logo-head {
    color: #000000;
}
.logo-foot {
    color: #ffffff;
}
.logo-foot,
.logo-head {
    font-family: var(--secondary-font);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;

}
.blue-logo {
    color: var(--blue);
}


.site-nav a:hover,
.foot a:hover,
.site-nav a:focus,
.foot a:focus
{
color: var(--blue);
}
.site-nav__link,
.head-contact {
    font-weight: 500;
    letter-spacing: 0.02em;
}
.site-nav__link {
        line-height: 1.14;
}
.head-contact {
        line-height: 1.14;
}
 .site-nav__link, 
 .title, 
 .card-name {
    color: var(--hcolor);
    font-size: 14px;
    
}
.our-team-main {
    background-color: var(--ourbgcolor);
}
.our-team {
    color: var(--hcolor);
        font-size: 16px;
}
[lang="en"] {
    font-size: 16px;
    line-height: 1.18;
}
.title {
    line-height: 1.14;
    text-transform: uppercase;
}
.title-txt {
    line-height: 1.71;
}
.title,
.card-name {
    font-weight: 700;
}
.card-name {
    font-size: 18px;
}
.button,
.description,
.promo-button
{
    font-size: 16px;
}
.description {
    line-height: 1.88;
}
.subtitle {
    color: var(--hcolor);
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.button {
    color: var(--hcolor);
    background-color: #f5f4fa;
    font-weight: 500;
    font-family: var(--primary-font);
    line-height: 1.62;
}
.button:hover,
.button:focus {
    color: var(--main-bgcolor);
    background-color: var(--blue);
    
}
.button, .promo-button {
    cursor: pointer;
} 


.foot-contact {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
}
.address {
    font-style: normal;
}
.map {
    color:rgb(255, 255, 255);
    line-height: 1.71;
    
}